  <!-- FOOTER -->

    <footer class=" text-center" style="background-color: rgba(0, 0, 0, 0.2); height: 115px">
      <!-- Grid container -->
      <div class="container p-3 pb-3">
            <!--Grid row-->
            <div class="row d-flex justify-content-between">
              <!--Grid column-->
              <div class="col-auto">
                <p class="pt-2"><a class="footer__link" href="{{ url_for('homepage')}}">  Home page</a></p>

              </div>
              <!--Grid column-->
                  <!--Grid column-->
                  <div class="col-auto">
                    <p class="pt-2"> Made with<span class="heart"> &#10084; </span>by <a a class="footer__link" href="https://www.klaudyjo.cz/" target="_blank"  rel="noopener noreferrer">KlaudyJo</a> </p>
                    © {{ year }} Copyright
                              </div>
                  <!--Grid column-->
        
                  <div class="col-auto">
                    <p class="pt-2"><a class="footer__link" href="mailto:mail@klaudyjo.cz">Contact me!</a></p>
                  </div>
                  <!--Grid column-->

              <!--Grid column-->
            </div>


      </div>
    </footer>