
    {% extends 'index.html' %}

    {% block content %}

    <main class="home" id="home">
        <div class="container d-flex justify-content-around align-items-center" style="height: 80vh">
          <div class="img-col">
           <img src="{{url_for('static', filename='img/quiz.png')}}" alt="quiz">
          </div>
          <div class="text-col">
            <h1 class="title">Test your knowledge</h1>
            <h4 class="subtitle">Try API for various questions about programming.</h4>
            <a type="button" class="btn" id="btn__home" href="{{ url_for('docspage') }}">Get API key</a>
          </div>
        </div>
    </div>

  </main>


{% endblock %}