<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    <title>PL Quiz</title>

  </head>
  <body>
   
    
    <nav class="nav navbar navbar-dark bg-dark" aria-label="First navbar example">
      <div class="container-fluid">
        <a class="navbar-brand" id="logo" href="#">PL-Quiz API</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarsExample01"
          aria-controls="navbarsExample01"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample01">
          <ul class="navbar-nav me-auto mb-2">
            <li class="nav-item">
              <li class="nav-item">
                <a class="nav-link" id="home">Home</a>
              </li>
              <a class="nav-link" id="documentation">Documentation</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" id="post">Post Question</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" id="faq">FAQ</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <main class="home" id="home">
        <div class="container d-flex justify-content-around align-items-center" style="height: 80vh">
          <div class="img-col">
           <img src="{{url_for('static', filename='img/quiz.png')}}" alt="quiz">
          </div>
          <div class="text-col">
            <h1 class="title">Test your knowledge</h1>
            <h4 class="subtitle">Try API for various questions about programming.</h4>
            <input type="button" class="btn" value="Get API key" id="btn_doc">
          </div>
        </div>
    </div>

  </main>

<main class="documentation hidden" id="get_key">
    <div class="container ">
        <div class="get_questions">
<div class="container__text">
    <div class="text-center">
    <h1 class="title">Documentation</h1>
</div>
    <h5 class="subtext">GET QUESTIONS</h5>
    <p>
    Send a GET request to <span class="highlighted">pl-quizz.com/questions/all</span> to recieve a random array of questions. If limit is not selected, than you will receive 20 random questions in your call.  
Link: <span class="highlighted">pl-quizz.heroku/questions/all</span> ----> Show in next link. <br>
With Limit: <span class="highlighted">/questions/all ?limit=2 </span>  ----> Show in next link. <br>
<br>
If you want to select a specific categories or subcategories,  than an avaible query parameters are shown below. </p>
</div>

<!--end of container text-->
<div class="row row-questions mb-5">
    <div class="col-md-6 col-sx-12  question_form">
        <form  class="form" id="form_question">
            <label for="category_select" class="my-2 form-label">Category</label>
            <select class="form-select" id="category_select">
              </select>

              <label for="subcategory_select" class="my-2 form-label">Subcategory</label>
              <select class="form-select" id="subcategory_select">
                </select>
                <label for="numQuestRange" class="form-label my-2">Number of questions</label>
                <input type="range" class=" form-range" min="0" max="20" value="0" step="1" id="numQuestRange">
                <div class="text-end">
                <label for="numQuestRange"  class="form-label" id="numQuestion"></label>
            </div>

            <select class="form-select" size="3"  id="difficulty_select">
                <option value="easy">Easy</option>
                <option value="hard">Mid</option>
                <option value="hard">Hard</option>
              </select>
              <div class="my-3">
                <input type="submit" id="GetApi" class="btn" value="Get API">
                </div>
          </form>



        </form>
    </div>

    <div class="col-md-6 col-sx-12 get_api">
        <textarea name="" id="apiKey" disabled>Your Api key: 
https://proquizz-api.herokuapp.com/questions/all
      </textarea>
        <textarea name="" id="myTextarea" disabled> ----- Select params  ---- </textarea>

    </div>


</div>


</div>




<div class="get_categories">
<div class="container__text">
    <h5 class="subtext">GET categories</h5>
    <p>Send a GET request to pl-quizz.heroku/questions/categories to recieve an information on the categories of question avaible to request.  The keys of the returned object are the names for each category. Values of the keys - subcategories, are sent in  array when requesting.  </p>
</div>
<!--end of container text-->
<div class="col get_api">
        <textarea name="" id="apiKeyCat"  disabled>Your API key:</textarea>
        <textarea name="" id="uniqueCat"  disabled> ----- Select params  ---- </textarea>

    </div>
</div>

<div class="get_metadata">
<div class="container__text">
    <h5 class="subtext">GET metadata</h5>
    <p>Send a GET request to pl-quizz.heroku/questions/metadata to recieve an information on the number of questions in the database and the distribution of questions across categories and subcategories.</p>
</div>

<!--end of container text-->
<div class="row">
<div class="col get_api">
        <textarea name="" id="apiKeyMet" disabled>Your API key:</textarea>
        <textarea name="" id="uniqueMet" disabled> ----- Select params  ---- </textarea>

    </div>

</div>
</div>

<div class="fixed__home">
  <svg style="color: rgb(255, 255, 255);" xmlns="http://www.w3.org/2000/svg" width="40px" height="50px" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16"> <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z" fill="#ffffff"></path> <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z" fill="#ffffff"></path> </svg>
</div>

</div>





</main>

<main class="post hidden" id="post_questions">
  <div class="container vw-100" >
    <div class=" text-center my-5">
      <h1 class="title">Post Question</h1>
    </div>
<div class="d-flex justify-content-center">

    <form style="width: 60%;" id="form_post" method="POST" >
      <input name="csrfToken" value="{{csrf_token()}}" type="hidden"> 

      <div class="row mb-3">
      <label for="question" class="col-sm-3 col-form-label col-form-label-sm">Question:</label>

      <div class="col-sm-9">
        <input type="text" id="question" class="form-control" placeholder="Write a question" required>
      </div>
    </div>


    <div class="row mb-3">
      <label for="question" class="col-sm-3 col-form-label col-form-label-sm">Block of code:</label>

      <div class="col-sm-9">
        <input class="form-check-input mx-3" type="checkbox" value="" id="checkCode">
        <label class="form-check-label disabled" for="flexCheckDefault" >
         not required
        </label>
        <textarea class="form-control hidden mt-2" name="code_block" id="code_block" cols="10" rows="3" >


        </textarea>

      </div>

    </div>

    <div class="row mb-3">
      <label for="question" class="col-sm-3 col-form-label col-form-label-sm">Correct answer:</label>
      <div class="col-sm-9">
        <div class="input-group">
          <div class="input-group-text">&#10003</div>
      <input type="text" id="cor_answ" class="form-control" placeholder="Write correct answer" required>
    </div>
      </div>
    </div>

    <div class="row mb-3">
      <label for="incor_answ" class="col-sm-3 col-form-label">Incorrect Answers:</label>

     
      <div class="col-sm-9">
        <div class="row mb-3">
          <div class="input-group">
          <div class="input-group-text">X</div>
          <input type="text" id="incor_answ_1" class="form-control" placeholder="Write incorrect answer one" required>
        </div>
      </div>

      <div class="row mb-3">
        <div class="input-group">
        <div class="input-group-text">X</div>
        <input type="text" id="incor_answ_2" class="form-control" placeholder="Write incorrect answer two" required>
      </div>
    </div>

    <div class="row mb-3" >
      <div class="input-group">
      <div class="input-group-text">X</div>
      <input type="text" id="incor_answ_3" class="form-control" placeholder="Write incorrect answer three" required>
    </div>
  </div>
    </div>
  </div>


  <div class="row mb-3">
    <label for="category_select" class="col-sm-3 col-form-label col-form-label-sm">Category:</label>

      <div class="col-sm-9">
      <!-- <select class="form-select" id="cat_select" required>
        </select> -->
        <input type="text" id="cat_input" class="form-control" placeholder="write category" required>

      </div>
    </div>

    <div class="row mb-3">
    <label for="subcategory_select" class="col-sm-3 col-form-label col-form-label-sm">Subcategory:</label>
      <div class="col-sm-9">
        <!-- <select class="form-select" id="subcat_select" required>

          </select> -->
          <input type="text" id="subcat_input" class="form-control" placeholder="write subcategory" required>

        </div>
      </div>

      <div class="row mb-3">
      <label for="diff_select" class="col-sm-3 col-form-label col-form-label-sm">Difficulty:</label>
          <div class="col-sm-9">

      <select class="form-select" size="3"  id="diff_select" required>
          <option value="easy">Easy</option>
          <option value="hard">Mid</option>
          <option value="hard">Hard</option>
        </select>
      </div>
    </div>

        <div class="mb-3">
          <input type="submit" id="SubmitApi" class="btn my-2" value="Submit Questions">
          </div>
    </form>






</div>
<div class="fixed__home">
  <svg style="color: rgb(255, 255, 255);" xmlns="http://www.w3.org/2000/svg" width="40px" height="50px" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16"> <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z" fill="#ffffff"></path> <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z" fill="#ffffff"></path> </svg>
</div>
</div>
</main>

<main class="faq hidden" id="faq_questions">
    <div class=" accordion-body mb-5" >
      <div class="accordion">
        <h1>Frequently Asked Questions</h1>
        <hr>
        <div class="contain">
          <div class="label">How do I request questions from API?</div>
          <div class="content">It's easy! Just send a HTTP GET request to pl-quizz.com/questions/all and the response will be a JSON array of questions. You don't need an API key.</div>
        </div>
        <hr>
        <div class="contain">
          <div class="label">Can I use your API in my app? </div>
          <div class="content">The API and all data returned from it are licensed under a Creative Commons Attribution-NonCommercial 4.0 International License.
            This means that the API and the questions it returns are free for noncommercial use. If you have somewhere suitable in your app, then please credit the API somewhere discreet - we love having our hard work shared!

            If you would like to use the API commercially, this service is offered as a paid subscription.
   
   
          </div>
        </div>
        <hr>
        <div class="contain">
          <div class="label">How can I contribute to the project</div>
          <div class="content">
            First of all, you can submit question <a href="post">here</a>.
          Or if you would like to help with the code and maintaining db, please hget in touch with <a class="" href="mailto:mail@klaudyjo.cz">mail@klaudyjo.cz.</a></div>
        </div>
        <hr>
        <div class="contain">
          <div class="label">Do I need an api key?</div>
          <div class="content"> You don't need an API key to request questions. You only need an API key if you want to:
            <ul><li>
              Bypass the rate limit
            </li>
          <li>Search questions

          </li>
        <li>
          Download all questions
        </li></ul>
            If you would like an API key for any of these reasons, please contact <a class="" href="mailto:mail@klaudyjo.cz">mail@klaudyjo.cz.</a></div>
        </div>
        <hr>
        <div class="contain">
          <div class="label">Is there a request limit? </div>
          <div class="content">
           
            For performance reasons we currently limit the amount of questions you can request at one time to 25.

            We limit the number of requests you can send from a single IP to 20 requests in a 5 second window. If you pass this limit then you will receive HTTP 429 errors. This is to keep the API available to all.
         
          </div>
        </div>
        <hr>


        <a class="go__home">
          <svg style="color: #202027;" xmlns="http://www.w3.org/2000/svg" width="25px" height="25px" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16"> <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z" fill="#202027"></path> <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z" fill="#202027"></path> </svg>
        </a>
       
      </div>
      </div>

  </div>

</main>

<hr class="featurette-divider">

  <!-- FOOTER -->
  <footer class="footer" style="height: 30px;">
  <div class="container pt-4">
    <p class="float-end"><a class="footer__link" href="mailto:mail@klaudyjo.cz">Contact me!</a></p>
    <p>&copy; 2022: Made with<span class="heart"> &#10084; </span>by <a a class="footer__link" href="https://www.klaudyjo.cz/" target="_blank"  rel="noopener noreferrer">KlaudyJo</a> </p>
    </div>

  </footer>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"
    ></script>
 <script src="{{url_for('static', filename='js/script.js')}}"></script>
    <script src="{{url_for('static', filename='js/forms.js')}}"></script>
  </body>
</html>
